.voc-base {
	padding: 10px;
}

@media (min-width: 1200px) {
	.voc-base {
		width: 80%;
		margin: 0 auto;
	}
}

.voc-base__form__textarea {
	width: 100%;
	height: 400px;
}

.voc-base__no-speech,
.voc-base__no-voices,
.voc-base__canvas {
	display: none;
}
